.login-view___20k2g {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    bottom: 0px;
}

.left-bg___DP2nG {
    width: 35%;
    position: absolute;
    top:0px;
    bottom: 0px;
    background-image: url(../../resource/loginbg.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover
}

.left-bg-title___fLDIv {
    top: 32%;
    height: 30%;
    width: 100%;
    position: absolute;
    -webkit-animation: lefttitle___39lA7 1s;
    animation: lefttitle___39lA7 1s;
    -webkit-animation-timing-function: cubic-bezier(.23, 1, .32, 1);
    animation-timing-function: cubic-bezier(.23, 1, .32, 1)
}

@-webkit-keyframes lefttitle___39lA7 {
    0% {
        opacity: 0;
        top: -15%
    }
    30% {
        opacity: 0
    }
    to {
        top: 32%;
        opacity: 1
    }
}

@keyframes lefttitle___39lA7 {
    0% {
        opacity: 0;
        top: -15%
    }
    30% {
        opacity: 0
    }
    to {
        top: 32%;
        opacity: 1
    }
}

.left-logo__lt {
    background-image: url(../../resource/leftlogo.png);
    background-color: rgba(0, 0, 0, .5);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 60%;
    height: 100%;
    display: none
}

.right-panel___SmvwX {
    background-color: #fff;
    left: 35%
}

.login-form___1rW3i,
.right-panel___SmvwX {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0
}

.login-form___1rW3i {
    left: 0;
    width: 380px;
    height: 490px
}

.login-form___1rW3i .ant-input,
.login-form___1rW3i .ant-select-selection {
    border: 1px solid #d0d0d0
}

.login-form___1rW3i .ant-input-lg {
    padding: 14px 8px 14px 10px;
    height: 48px
}

.login-form___1rW3i .ant-input-wrapper:before {
    font-family: anticon;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 14px;
    font-size: 14px;
    height: 14px;
    width: 14px;
    color: #999;
    z-index: 1;
    left: 9px;
    top: 17px
}

.login-form___1rW3i .ant-select-lg .ant-select-selection--single {
    height: 48px
}

.login-form___1rW3i .ant-select-lg .ant-select-selection--single .ant-select-selection__rendered {
    height: 48px;
    line-height: 48px
}

.login-form___1rW3i .has-feedback:after {
    width: 40px;
    height: 48px;
    line-height: 48px
}

.login-form___1rW3i .login-submit {
    font-weight: 300;
    color: #fff;
    width: 100%;
    height: 48px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    border-color: #35d076;
    background-color: #2bd7f5;
    padding: 10px 15px;
    text-indent: 10px;
    letter-spacing: 10px
}

.login-form___1rW3i .login-submit:hover {
    border-color: #5ce0f7;
    background-color: #5ce0f7
}

.login-form-title___11oiF {
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, Arial, sans-serif;
    text-align: left;
    line-height: 46px;
    margin-bottom: 24px;
    font-size: 36px;
    color: #0bc2e2;
    padding-left: .2em
}

.login-form-version___1SiTs {
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, Arial, sans-serif;
    font-weight: 500;
    line-height: 20px;
    vertical-align: 3px;
    display: inline-block;
    background-color: #2bd7f5;
    border-radius: 9px;
    margin-left: 10px;
    padding: 0 8px;
    font-size: 12px;
    color: #fff;
    height: 20px
}

.login-footer___1ktxG {
    position: absolute;
    bottom: 8px;
    left: 32%;
    z-index: 100;
}

.login-about___13Aau {
    padding: 0 16px
}

.login-about-link___1psyB {
    float: left
}

.login-copyright {
    float: right;
    text-align: right;
    color: #fff
}

.point___1JaSo {
    padding: 0 6px;
    position: relative
}

.point___1JaSo:before {
    top: 50%;
    left: 50%;
    width: 2px;
    height: 2px;
    content: '';
    margin-top: -1px;
    margin-left: -1px;
    position: absolute;
    border-radius: 100%;
    background-color: #aaa
}

.tag___3kdO2 {
    color: #aaa;
    padding: 0 8px;
    cursor: pointer;
    line-height: 1.8em;
    border-radius: .9em;
    display: inline-block;
    -webkit-transition: background .6s;
    transition: background .6s
}

.tag___3kdO2:hover {
    background-color: #eee;
    color: #aaa
}

.pass-verifyCode {
    width: 98px;
    height: 40px;
    border: 1px solid #ddd;
    margin-left: 10px;
    margin-top: 3px;
    background: url(../../resource/loading_7cf729a.gif) center center no-repeat;
}

.pass-change-verifyCode {
    margin-top: 5px;
    height:60px;
}